#app {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.9s ease;
}
/*!修改naive-ui的遮罩层样式*/
@mixin mask-style($blur: 4px) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur($blur);
}
.n-modal-mask {
  @include mask-style;
}
.n-drawer-mask {
  @include mask-style(2px);
}
/*!end*/