@keyframes products-multi-icon {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 0 -2400px;
  }
}

@mixin underline {
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(to right, #79b989, #d0d0d0) no-repeat left bottom;
  background-size: 0 2px;
  transition: background-size 1s;
  &:hover {
    background-size: 100% 2px;
  }
}

@mixin centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cn-en {
  @include centered-flex;
  padding: 10px 15px;
  line-height: 20px;
  justify-content: flex-end;
  font-size: 14px;
  .n-text {
    @include underline;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .products-icon.is-enter {
    -webkit-animation: products-multi-icon 3s steps(24) alternate infinite;
    animation: products-multi-icon 3s steps(24) alternate infinite;
  }
}

.products-icon {
  width: 100px;
  height: 100px;
  background: {
    repeat: no-repeat;
    position: top;
    size: 100px auto;
    image: url('../../assets/img/cloud-express.png');
  }
  display: block;
}

.login {
  position: relative;
  width: 340px;
  left: 0;
  right: 0;
  margin: auto;
  h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: v-bind(TEXT_COLOR);
    transition: color 0.4s ease;
  }
}

.form,
.BottomBar,
.FirstVisit {
  width: 310px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
}

.form {
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.FirstVisit {
  @include centered-flex;
  margin: 20px auto;
  height: 50px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  h1 {
    font-size: 14px;
    margin-right: 20px;
  }
  h2 {
    margin-top: 20px;
    font-size: 14px;
    color: #337ecc;
    cursor: pointer;
  }
}

.BottomBar {
  margin: 80px auto;
  p {
    text-align: center;
    color: #cccccc;
    font-size: 12px;
  }
}

.link-content {
  @include centered-flex;
  p {
    margin-left: 10px;
    color: green;
    font-weight: bold;
  }
  h1 {
    font-size: 14px;
  }
}

.Technology-content {
  display: flex;
  line-height: 2;
  div {
    width: 120px;
  }
  .n-a {
    @include underline;
  }
  h1 {
    font-size: 14px;
  }
}

.close_btn,
.login_alert {
  display: flex;
  margin: 0 auto;
}

.login_alert {
  width: 300px;
  margin-bottom: 10px;
}

.msg {
  text-align: center;
  background: #fdeae8;
  height: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}

.paw-title {
  display: flex;
  justify-content: space-between;
  line-height: 1px;
  min-height: 26px;
  padding: 0 0 2px 2px;
}

.link {
  cursor: pointer;
  color: #cccccc;
  transition: all 0.9s ease;
  &:hover {
    color: #bc3f4a;
  }
}
